<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConstructorPrefence" value="false" />
    <add key="LastNamespace" value="" />
    <add key="TransactionReport" value="false" />
    <add key="ClassDetailReport" value="false" />
    <add key="CharPOM" value="-" />
    <add key="CharPOC" value="*" />
    <add key="CharOC" value="/" />

  </appSettings>
</configuration>
